Aula De Dataframes - Tabelas Com Linhas E Colunas
Linhas = Registros = Nomes, Códigos
Colunas = Propriedade Ou Propriedade

Padrão de uso :
Pandas = pd

In [383]:
import pandas as pd
print('DataFrame apartir de um dicionário')
dict={
    'idade':[36,35],
    'genero':['f','m'],
    'peso':[63,68],
    'altura':[1.67,1.69]
}
data = pd.DataFrame(dict)
print(data)

DataFrame apartir de um dicionário
   idade genero  peso  altura
0     36      f    63    1.67
1     35      m    68    1.69

In [384]:
print('DataFrame apartir de uma lista')
matrix = [[39,'M',83.5,1.68],[37,'F',54,1.57]]
cols = ['idade','genero','peso','altura']
data =pd.DataFrame(matrix,columns = cols)#argumento columns = cols => nomes de colunas, sem o mesmo vira como indices iniciando em zero
print(data)

lin = 1
col = 2

#print(data.iloc[lin][col]) # iloc: usa var criada para se localizar entre colchetes separados
#print(data.loc[0]['idade']) #loc usa o indice e o nome da coluna entre colchetes separados para se localizar

print(data.iat[lin,col]) #iat: usa var criada para se localizar entre colchetes unicos separados por virgula
print(data.at[0,'idade']) #at: usa o indice e o nome da coluna entre colchetes unicos separados por virgula

DataFrame apartir de uma lista
   idade genero  peso  altura
0     39      M  83.5    1.68
1     37      F  54.0    1.57
54.0
39

In [385]:
carros = {
    'modelo': ['Maruti 800 AC','Maruti Wagon R LXI Minor','Hyundai Verna 1.6 SX', 'Datsun RediGO T Option', 'Honda Amaze VX i-DTEC', 'Maruti Alto LX BSIII', 'Hyundai Xcent 1.2 Kappa S', 'Tata Indigo Grand Petrol', 'Hyundai Creta 1.6 VTVT S', 'Maruti Celerio Green VXI', 'Chevrolet Sail 1.2 Base', 'Tata Indigo Grand Petrol', 'Toyota Corolla Altis 1.8 VL CVT'],
    'ano': [2007, 2007, 2012, 2017, 2014, 2007, 2016, 2014, 2015, 2017, 2015, 2014, 2018],
    'preço': [60000, 135000, 600000, 250000, 450000, 140000, 550000, 240000, 850000, 365000, 260000, 250000, 1650000],
    'combustivel': ['Petrol', 'Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'CNG', 'Petrol', 'Petrol', 'Petrol']
}
tabela = pd.DataFrame(carros)
print(tabela)
print()
print('Modelo: ',tabela.iat[5,0],'R$:', tabela.iat[5,2])
print('Modelo: ',tabela.iat[10,0],'(',tabela.iat[10,1],') :', tabela.iat[10,3])

                             modelo   ano    preço combustivel
0                     Maruti 800 AC  2007    60000      Petrol
1          Maruti Wagon R LXI Minor  2007   135000      Petrol
2              Hyundai Verna 1.6 SX  2012   600000      Diesel
3            Datsun RediGO T Option  2017   250000      Petrol
4             Honda Amaze VX i-DTEC  2014   450000      Diesel
5              Maruti Alto LX BSIII  2007   140000      Petrol
6         Hyundai Xcent 1.2 Kappa S  2016   550000      Petrol
7          Tata Indigo Grand Petrol  2014   240000      Petrol
8          Hyundai Creta 1.6 VTVT S  2015   850000      Petrol
9          Maruti Celerio Green VXI  2017   365000         CNG
10          Chevrolet Sail 1.2 Base  2015   260000      Petrol
11         Tata Indigo Grand Petrol  2014   250000      Petrol
12  Toyota Corolla Altis 1.8 VL CVT  2018  1650000      Petrol

Modelo:  Maruti Alto LX BSIII R$: 140000
Modelo:  Chevrolet Sail 1.2 Base ( 2015 ) : Petrol

Métodos com Dataframe

In [386]:
tabela.shape # mostra as dimenssões da dataframe, qtd de linhas e colunas
tabela.size # qtd de elementos/células
len(tabela)

13

In [387]:
base = pd.read_csv("https://storage.googleapis.com/pedagogico/formacao-dados/tabela_clientes.csv")
(base)

,nome,telefone,email,cep,estado
0,Hayden Nicholson,1-262-848-2640,et.netus.et@yahoo.com,58078-354,Paraná
1,Echo Cameron,(640) 218-1137,volutpat.nunc@outlook.edu,91058-985,Pará
2,Len Porter,(657) 370-2202,penatibus.et.magnis@aol.ca,88613-734,Santa Catarina
3,Pearl Stout,(245) 345-4683,et@protonmail.org,58931-887,Rio Grande do Sul
4,Abbot Knapp,1-475-850-6484,donec.vitae.erat@icloud.ca,56633-071,Pará
...,...,...,...,...,...
495,Serina Austin,1-524-231-1438,scelerisque.sed.sapien@protonmail.ca,40541-477,Ceará
496,Bertha Terrell,(284) 622-5871,egestas.urna.justo@icloud.couk,12111-445,Goiás
497,Herrod Chapman,(511) 488-2172,dictum.ultricies@protonmail.net,21530-106,Rio de Janeiro
498,Guy Roman,1-300-865-3432,porttitor.vulputate@outlook.edu,25543-434,Goiás
499,Skyler Blackburn,1-665-585-2373,natoque.penatibus@aol.couk,66329-853,Rio Grande do Sul

In [388]:
print('Resolução')
print('1- A quantidade de clientes, pela quantidade de linhas  é: ',len(base))
print('1- A quantidade de clientes pelo indice através de shape é: ',base.shape[0])
print('2- A quantidade de informações é: ',base.shape[1])
print('3- O tamanho da base é: ',base.size)

Resolução
1- A quantidade de clientes, pela quantidade de linhas  é:  500
1- A quantidade de clientes pelo indice através de shape é:  500
2- A quantidade de informações é:  5
3- O tamanho da base é:  2500

In [389]:
tabela_a = pd.read_csv('d:\\Python\\analise_dados_cubos_engie\\tabela_clientes.csv')
(tabela_a)
print(len(tabela_a),' usando o len')
print(tabela_a.shape[0],' usando shape mais o indice de linhas [0]')
print(tabela_a.shape[1],' usando shape mais 0 indice de colunas [1]')
print((tabela_a.size),' usando size total de elenmtos')

500  usando o len
500  usando shape mais o indice de linhas [0]
5  usando shape mais 0 indice de colunas [1]
2500  usando size total de elenmtos

Sumários com Dataframes
Resumindo informações

In [390]:
import seaborn as sns
iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [391]:
print('Mostra primeiras 5 linhas da tabela')
iris.head()

Mostra primeiras 5 linhas da tabela

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [392]:
print('Mostra 5 últimas linhas da tabela')
iris.tail()

Mostra 5 últimas linhas da tabela

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [393]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [394]:
print('Ordenar os valores Crescente ou Descrescente de uma coluna')
iris.sort_values('sepal_length', ascending=False)

Ordenar os valores Crescente ou Descrescente de uma coluna

     sepal_length  sepal_width  petal_length  petal_width    species
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
..            ...          ...           ...          ...        ...
41            4.5          2.3           1.3          0.3     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa

[150 rows x 5 columns]

In [395]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [396]:
iris.count()

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
species         150
dtype: int64

In [397]:
iris.min()

sepal_length       4.3
sepal_width        2.0
petal_length       1.0
petal_width        0.1
species         setosa
dtype: object

In [398]:
iris.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [399]:
print('mean')
iris_objeto = iris.select_dtypes(include=['object']).columns #identificar onde estão valores nulos NAN
iris_sem_objeto = iris.drop(columns=iris_objeto)
iris_sem_objeto
iris_sem_objeto.mean()

mean

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [400]:
print('Mediama')
iris_sem_objeto.median()

Mediama

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [401]:
print('Exercises')
import seaborn as sns
ping = sns.load_dataset('penguins')
(ping)

Exercises

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [402]:
print('2 - Tipos de Váriáveis: ') 
ping.dtypes

2 - Tipos de Váriáveis:

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [403]:
print('3 - 5 primeiras linhas: ') 
ping.head()

3 - 5 primeiras linhas:

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [404]:
print('4 - 5 últimas linhas: ') 
ping.tail()

4 - 5 últimas linhas:

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [405]:
print('5: Quantidade de observações não nulos ') 
ping.count()

5: Quantidade de observações não nulos

species              344
island               344
bill_length_mm       342
bill_depth_mm        342
flipper_length_mm    342
body_mass_g          342
sex                  333
dtype: int64

In [406]:
print('6: Valores Minimos e Maximos ') 
ping_sem_nulos = ping.dropna()
(ping_sem_nulos)
ping_sem_nulos.count()

6: Valores Minimos e Maximos

species              333
island               333
bill_length_mm       333
bill_depth_mm        333
flipper_length_mm    333
body_mass_g          333
sex                  333
dtype: int64

In [407]:
ping_sem_nulos.min()

species              Adelie
island               Biscoe
bill_length_mm         32.1
bill_depth_mm          13.1
flipper_length_mm     172.0
body_mass_g          2700.0
sex                  Female
dtype: object

In [408]:
ping_sem_nulos.max()

species                 Gentoo
island               Torgersen
bill_length_mm            59.6
bill_depth_mm             21.5
flipper_length_mm        231.0
body_mass_g             6300.0
sex                       Male
dtype: object

In [409]:
colunas_objeto = ping.select_dtypes(include=['object']).columns
(colunas_objeto)
coluna_sem_objeto = ping.drop(columns=colunas_objeto)
(coluna_sem_objeto)
coluna_sem_objeto.min()
coluna_sem_objeto.max()
coluna_sem_objeto.mean()
coluna_sem_objeto.median()

bill_length_mm         44.45
bill_depth_mm          17.30
flipper_length_mm     197.00
body_mass_g          4050.00
dtype: float64

In [410]:
print('selecionar valores')
ping.columns
ping[['island','sex']]
import seaborn as sns
iris = sns.load_dataset('iris')
iris
iris.loc[0:4,'sepal_length':'petal_length'] # seleciona linhas de 0:4 e colunas entre nome : nome
ping.loc[0:4,'island':'sex']
iris.loc[[0,3,4],['sepal_length','petal_length']]

selecionar valores

   sepal_length  petal_length
0           5.1           1.4
3           4.6           1.5
4           5.0           1.4

In [411]:
print('1- Informações Coletadas abaixo: ')
#base = pd.read_csv("https://storage.googleapis.com/pedagogico/formacao-dados/tabela_clientes.csv")
base = pd.read_csv("d:\\Python\\analise_dados_cubos_engie\\tabela_clientes.csv")
#usar join e columns 
print('Dados Coletados dos clientes: ',', '.join(base.columns))

1- Informações Coletadas abaixo:
Dados Coletados dos clientes:  nome, telefone, email, cep, estado

In [412]:
print('2-3- Lista de nomes e  Telefones, ordenados de A a Z ')
#base.loc[0:500,'nome':'telefone'].sort_values('nome',ascending=True)
base_telefone = base[['nome','telefone']].sort_values('nome',ascending=True)
print(base_telefone)

2-3- Lista de nomes e  Telefones, ordenados de A a Z
                nome        telefone
86        Aaron Byrd  1-123-343-7816
4        Abbot Knapp  1-475-850-6484
226   Abdul Petersen  (745) 597-2584
393      Abel Garner  (624) 917-6370
23   Abigail Solomon  1-565-818-9313
..               ...             ...
321     Zeph Preston  (880) 532-3480
313       Zeph Sykes  1-328-275-8090
72      Zephania Cox  1-228-876-3948
170    Zephania Ruiz  1-576-831-2548
490   Zorita Baldwin  (359) 129-7668

[500 rows x 2 columns]

In [413]:
print('Exporta nova base de dados')
base_telefone.to_csv('clientes_telefones.csv')
import shutil
caminho_arquivo = 'D:\\Python\\analise_dados_cubos_engie\\aulas_python\\clientes_telefones.csv'
caminho_destino ='C:\\Users\\rfsra\\OneDrive\\Desktop\\clientes_telefones.csv'
shutil.copyfile(caminho_arquivo, caminho_destino)

Exporta nova base de dados

'C:\\Users\\rfsra\\OneDrive\\Desktop\\clientes_telefones.csv'

In [414]:
consulta = pd.read_csv('d:\\Python\\analise_dados_cubos_engie\\consulta.csv')
print('Dados Coletados dos clientes: ',', '.join(consulta.columns))
consulta.count()
consulta_dados = consulta[['Data Movto','Valor','Complemento']]
consulta_dados

Dados Coletados dos clientes:  Data Movto, Unnamed: 1, Unnamed: 2, Unnamed: 3, Valor, Conta, Unnamed: 6, Complemento, Unnamed: 8, Unnamed: 9, Unnamed: 10, Estabelecimento, D/C, Unnamed: 13, Status, Unnamed: 15, Partida, Unnamed: 17

    Data Movto      Valor  Complemento
0   05/01/2024     392,86          NaN
1   08/01/2024    2086,36          NaN
2   09/01/2024      54213          NaN
3   09/01/2024    9383,99          NaN
4   10/01/2024       6000          NaN
5   10/01/2024      28000          NaN
6   11/01/2024      22000          NaN
7   11/01/2024   40392,67          NaN
8   12/01/2024      15490          NaN
9   12/01/2024    5960,28          NaN
10  16/01/2024    3416,67          NaN
11  17/01/2024     386,16          NaN
12  17/01/2024       2500          NaN
13  17/01/2024       1850          NaN
14  17/01/2024     349,15          NaN
15  17/01/2024    6457,77          NaN
16  18/01/2024    19638,5          NaN
17  18/01/2024      19900          NaN
18  18/01/2024  178430,17          NaN
19  18/01/2024   43860,26          NaN
20  19/01/2024     406,66          NaN
21  19/01/2024        500          NaN
22  22/01/2024       3700          NaN
23  25/01/2024        700          NaN
24  31/01/2024        286          NaN
25  31/01/2024      10000          NaN
26  31/01/2024   14712,14          NaN
27  31/01/2024      22680          NaN

In [415]:
print('Exportar o arquivo')
consulta_dados.to_csv('consulta_dados.csv')
import shutil
caminho_arquivo = 'D:\\Python\\analise_dados_cubos_engie\\aulas_python\\consulta_dados.csv'
caminho_destino ='C:\\Users\\rfsra\\OneDrive\\Desktop\\consulta_dados.csv'
shutil.copyfile(caminho_arquivo, caminho_destino)

Exportar o arquivo

'C:\\Users\\rfsra\\OneDrive\\Desktop\\consulta_dados.csv'

In [416]:
print('Operações Matemáticas em tabelas')
dict2={
    'idade':[36,35],
    'peso':[63,68],
    'altura':[1.6,1.8]
}
dict3={
    'idade':[30,31],
    'peso':[69,80],
    'altura':[1.7,1.9]
}
data2 = pd.DataFrame(dict2)
data3 = pd.DataFrame(dict3)
print(data2)
print()
print(data3)

Operações Matemáticas em tabelas
   idade  peso  altura
0     36    63     1.6
1     35    68     1.8

   idade  peso  altura
0     30    69     1.7
1     31    80     1.9

In [417]:
data2.add(2) #adiciona valor constante 2 a cada elemto da tabela

   idade  peso  altura
0     38    65     3.6
1     37    70     3.8

In [418]:
data_somados = data3.add(data2) #adiciona os valor da tabela2 na tabela 3 = somando todos por elemento
data_somados

   idade  peso  altura
0     66   132     3.3
1     66   148     3.7

In [419]:
data_sub = data3.sub(data2)
data_sub

   idade  peso  altura
0     -6     6     0.1
1     -4    12     0.1

In [420]:
base_vendas = pd.read_json("https://storage.googleapis.com/pedagogico/formacao-dados/tabela_vendas.json")
base_vendas

KeyboardInterrupt:

In [ ]:
print('Criar Coluna Valor Total')
print(base_vendas.columns) # mostra as colunas
print(base_vendas.count())
# Criando Coluna Total
base_vendas['total'] = base_vendas['quantidade'].mul(base_vendas['valor_produto'])
base_vendas

Criar Coluna Valor Total
Index(['id_compra', 'codigo_produto', 'region', 'quantidade', 'valor_produto'], dtype='object')
id_compra         500
codigo_produto    500
region            500
quantidade        500
valor_produto     500
dtype: int64

,id_compra,codigo_produto,region,quantidade,valor_produto,total
0,EJF38SUC4TS,1002,Paraná,1,3.81,3.81
1,YDQ17YLX1MY,1264,São Paulo,8,77.51,620.08
2,DNK32LCC1RB,2344,Maranhão,3,16.92,50.76
3,DHJ68CCE3OP,9273,Maranhão,1,66.14,66.14
4,RQD46YMW6JT,1264,Santa Catarina,3,38.45,115.35
...,...,...,...,...,...,...
495,KPM96WTU5LI,8974,Maranhão,4,7.41,29.64
496,ZIT25VJB8GX,823,Rio Grande do Sul,0,14.62,0.00
497,FKL37EMH1AS,1002,Rio de Janeiro,9,46.22,415.98
498,SNY86RFP1YM,1002,Rio de Janeiro,10,10.75,107.50
499,OZC87SGF9WE,1002,Maranhão,6,94.89,569.34

In [ ]:
#simulando acréscimo de 5% e desconto de 10%
base_vendas['adititvo 5%'] = base_vendas['total'].mul(1.05)
base_vendas
base_vendas['desconto 10%'] = base_vendas['total'].mul(0.9)
base_vendas
print('Média com Aditivo de 5% no total de cada item :''\n', base_vendas[['adititvo 5%']].mean())
print('Mediana do Desconto de 10% no total de cada item :''\n',base_vendas[['desconto 10%']].median())

Média com Aditivo de 5% no total de cada item :
 adititvo 5%    264.222357
dtype: float64
Mediana do Desconto de 10% no total de cada item :
 desconto 10%    169.137
dtype: float64

In [ ]:
consulta = pd.read_csv('d:\\Python\\analise_dados_cubos_engie\\consulta.csv')
print('Dados Coletados dos clientes: ',', '.join(consulta.columns))
consulta.count()
consulta.shape

Dados Coletados dos clientes:  Data Movto, Unnamed: 1, Unnamed: 2, Unnamed: 3, Valor, Conta, Unnamed: 6, Complemento, Unnamed: 8, Unnamed: 9, Unnamed: 10, Estabelecimento, D/C, Unnamed: 13, Status, Unnamed: 15, Partida, Unnamed: 17

(28, 18)

In [ ]:
consulta.count()
consulta_nan = consulta.dropna()
consulta_nan = consulta.dropna(axis=1)
consulta_nan

,Data Movto,Unnamed: 1,Unnamed: 2,Valor,Conta,Unnamed: 6,Unnamed: 10,Estabelecimento,D/C,Unnamed: 13,Partida,Unnamed: 17
0,05/01/2024,3321125,122399,"392,86",Benfeitorias Hospital Unimed,24,80177775,Hospital Unimed Litoral,D,6,276546029,276546030
1,08/01/2024,1072052,122399,"2086,36",Benfeitorias Hospital Unimed,34,80178351,Hospital Unimed Litoral,D,216,275412787,275412788
2,09/01/2024,3322086,122399,54213,Benfeitorias Hospital Unimed,24,80177779,Hospital Unimed Litoral,D,7,276561489,276561490
3,09/01/2024,3322055,122399,"9383,99",Benfeitorias Hospital Unimed,24,80177779,Hospital Unimed Litoral,D,4,276561483,276561484
4,10/01/2024,3322686,122399,6000,Benfeitorias Hospital Unimed,24,80177780,Hospital Unimed Litoral,D,50,276563050,276563051
5,10/01/2024,3322515,122399,28000,Benfeitorias Hospital Unimed,24,80177780,Hospital Unimed Litoral,D,15,276562968,276562969
6,11/01/2024,3323128,122399,22000,Benfeitorias Hospital Unimed,24,80179751,Hospital Unimed Litoral,D,49,276546854,276546855
7,11/01/2024,3323130,122399,"40392,67",Benfeitorias Hospital Unimed,24,80179751,Hospital Unimed Litoral,D,50,276546860,276546861
8,12/01/2024,3333650,122399,15490,Benfeitorias Hospital Unimed,24,80177782,Hospital Unimed Litoral,D,44,276562897,276562898
9,12/01/2024,3333587,122399,"5960,28",Benfeitorias Hospital Unimed,24,80177782,Hospital Unimed Litoral,D,33,276562867,276562868
10,16/01/2024,3335055,122399,"3416,67",Benfeitorias Hospital Unimed,24,80177786,Hospital Unimed Litoral,D,37,276561686,276561687
11,17/01/2024,3335456,122399,"386,16",Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,58,276561948,276561949
12,17/01/2024,3335399,122399,2500,Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,24,276561876,276561877
13,17/01/2024,3335397,122399,1850,Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,23,276561874,276561875
14,17/01/2024,3335366,122399,"349,15",Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,12,276561852,276561853
15,17/01/2024,3335336,122399,"6457,77",Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,3,276561830,276561831
16,18/01/2024,3335998,122399,"19638,5",Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,91,275577794,275577795
17,18/01/2024,3335980,122399,19900,Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,83,275577778,275577779
18,18/01/2024,3335975,122399,"178430,17",Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,79,275577770,275577771
19,18/01/2024,3335783,122399,"43860,26",Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,15,275577619,275577620
20,19/01/2024,3336246,122399,"406,66",Benfeitorias Hospital Unimed,24,80177789,Hospital Unimed Litoral,D,9,276547333,276547334
21,19/01/2024,3336236,122399,500,Benfeitorias Hospital Unimed,24,80177789,Hospital Unimed Litoral,D,2,276547319,276547320
22,22/01/2024,3337142,122399,3700,Benfeitorias Hospital Unimed,24,80177792,Hospital Unimed Litoral,D,82,276547697,276547698
23,25/01/2024,3344170,122399,700,Benfeitorias Hospital Unimed,24,80177795,Hospital Unimed Litoral,D,1,276547958,276547959
24,31/01/2024,3347148,122399,286,Benfeitorias Hospital Unimed,24,80177801,Hospital Unimed Litoral,D,60,276560797,276560798
25,31/01/2024,3347014,122399,10000,Benfeitorias Hospital Unimed,24,80177801,Hospital Unimed Litoral,D,25,276560671,276560672
26,31/01/2024,12024,122399,"14712,14",Benfeitorias Hospital Unimed,32,80182178,Hospital Unimed Litoral,D,1,278163774,278163775
27,31/01/2024,3347320,122399,22680,Benfeitorias Hospital Unimed,24,80177801,Hospital Unimed Litoral,D,124,276561002,276561003

In [ ]:
consulta

,Data Movto,Unnamed: 1,Unnamed: 2,Unnamed: 3,Valor,Conta,Unnamed: 6,Complemento,Unnamed: 8,Unnamed: 9,Unnamed: 10,Estabelecimento,D/C,Unnamed: 13,Status,Unnamed: 15,Partida,Unnamed: 17
0,05/01/2024,3321125,122399,NaN,"392,86",Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177775,Hospital Unimed Litoral,D,6,NaN,NaN,276546029,276546030
1,08/01/2024,1072052,122399,NaN,"2086,36",Benfeitorias Hospital Unimed,34,NaN,NaN,Contas a Pagar,80178351,Hospital Unimed Litoral,D,216,NaN,NaN,275412787,275412788
2,09/01/2024,3322086,122399,NaN,54213,Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177779,Hospital Unimed Litoral,D,7,NaN,NaN,276561489,276561490
3,09/01/2024,3322055,122399,NaN,"9383,99",Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177779,Hospital Unimed Litoral,D,4,NaN,NaN,276561483,276561484
4,10/01/2024,3322686,122399,NaN,6000,Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177780,Hospital Unimed Litoral,D,50,NaN,NaN,276563050,276563051
5,10/01/2024,3322515,122399,NaN,28000,Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177780,Hospital Unimed Litoral,D,15,NaN,NaN,276562968,276562969
6,11/01/2024,3323128,122399,NaN,22000,Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80179751,Hospital Unimed Litoral,D,49,NaN,NaN,276546854,276546855
7,11/01/2024,3323130,122399,NaN,"40392,67",Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80179751,Hospital Unimed Litoral,D,50,NaN,NaN,276546860,276546861
8,12/01/2024,3333650,122399,NaN,15490,Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177782,Hospital Unimed Litoral,D,44,NaN,NaN,276562897,276562898
9,12/01/2024,3333587,122399,NaN,"5960,28",Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177782,Hospital Unimed Litoral,D,33,NaN,NaN,276562867,276562868
10,16/01/2024,3335055,122399,NaN,"3416,67",Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177786,Hospital Unimed Litoral,D,37,NaN,NaN,276561686,276561687
11,17/01/2024,3335456,122399,NaN,"386,16",Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177787,Hospital Unimed Litoral,D,58,NaN,NaN,276561948,276561949
12,17/01/2024,3335399,122399,NaN,2500,Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177787,Hospital Unimed Litoral,D,24,NaN,NaN,276561876,276561877
13,17/01/2024,3335397,122399,NaN,1850,Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177787,Hospital Unimed Litoral,D,23,NaN,NaN,276561874,276561875
14,17/01/2024,3335366,122399,NaN,"349,15",Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177787,Hospital Unimed Litoral,D,12,NaN,NaN,276561852,276561853
15,17/01/2024,3335336,122399,NaN,"6457,77",Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177787,Hospital Unimed Litoral,D,3,NaN,NaN,276561830,276561831
16,18/01/2024,3335998,122399,NaN,"19638,5",Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177788,Hospital Unimed Litoral,D,91,NaN,NaN,275577794,275577795
17,18/01/2024,3335980,122399,NaN,19900,Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177788,Hospital Unimed Litoral,D,83,NaN,NaN,275577778,275577779
18,18/01/2024,3335975,122399,NaN,"178430,17",Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177788,Hospital Unimed Litoral,D,79,NaN,NaN,275577770,275577771
19,18/01/2024,3335783,122399,NaN,"43860,26",Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177788,Hospital Unimed Litoral,D,15,NaN,NaN,275577619,275577620
20,19/01/2024,3336246,122399,NaN,"406,66",Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177789,Hospital Unimed Litoral,D,9,NaN,NaN,276547333,276547334
21,19/01/2024,3336236,122399,NaN,500,Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177789,Hospital Unimed Litoral,D,2,NaN,NaN,276547319,276547320
22,22/01/2024,3337142,122399,NaN,3700,Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177792,Hospital Unimed Litoral,D,82,NaN,NaN,276547697,276547698
23,25/01/2024,3344170,122399,NaN,700,Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177795,Hospital Unimed Litoral,D,1,NaN,NaN,276547958,276547959
24,31/01/2024,3347148,122399,NaN,286,Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177801,Hospital Unimed Litoral,D,60,NaN,NaN,276560797,276560798
25,31/01/2024,3347014,122399,NaN,10000,Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177801,Hospital Unimed Litoral,D,25,NaN,NaN,276560671,276560672
26,31/01/2024,12024,122399,NaN,"14712,14",Benfeitorias Hospital Unimed,32,NaN,Vlr. Ref.,NaN,80182178,Hospital Unimed Litoral,D,1,NaN,NaN,278163774,278163775
27,31/01/2024,3347320,122399,NaN,22680,Benfeitorias Hospital Unimed,24,NaN,Nota Fiscal,Notas Fiscais,80177801,Hospital Unimed Litoral,D,124,NaN,NaN,276561002,276561003

In [ ]:
consulta_nan.shape

(28, 12)

In [ ]:
consulta_nan

,Data Movto,Unnamed: 1,Unnamed: 2,Valor,Conta,Unnamed: 6,Unnamed: 10,Estabelecimento,D/C,Unnamed: 13,Partida,Unnamed: 17
0,05/01/2024,3321125,122399,"392,86",Benfeitorias Hospital Unimed,24,80177775,Hospital Unimed Litoral,D,6,276546029,276546030
1,08/01/2024,1072052,122399,"2086,36",Benfeitorias Hospital Unimed,34,80178351,Hospital Unimed Litoral,D,216,275412787,275412788
2,09/01/2024,3322086,122399,54213,Benfeitorias Hospital Unimed,24,80177779,Hospital Unimed Litoral,D,7,276561489,276561490
3,09/01/2024,3322055,122399,"9383,99",Benfeitorias Hospital Unimed,24,80177779,Hospital Unimed Litoral,D,4,276561483,276561484
4,10/01/2024,3322686,122399,6000,Benfeitorias Hospital Unimed,24,80177780,Hospital Unimed Litoral,D,50,276563050,276563051
5,10/01/2024,3322515,122399,28000,Benfeitorias Hospital Unimed,24,80177780,Hospital Unimed Litoral,D,15,276562968,276562969
6,11/01/2024,3323128,122399,22000,Benfeitorias Hospital Unimed,24,80179751,Hospital Unimed Litoral,D,49,276546854,276546855
7,11/01/2024,3323130,122399,"40392,67",Benfeitorias Hospital Unimed,24,80179751,Hospital Unimed Litoral,D,50,276546860,276546861
8,12/01/2024,3333650,122399,15490,Benfeitorias Hospital Unimed,24,80177782,Hospital Unimed Litoral,D,44,276562897,276562898
9,12/01/2024,3333587,122399,"5960,28",Benfeitorias Hospital Unimed,24,80177782,Hospital Unimed Litoral,D,33,276562867,276562868
10,16/01/2024,3335055,122399,"3416,67",Benfeitorias Hospital Unimed,24,80177786,Hospital Unimed Litoral,D,37,276561686,276561687
11,17/01/2024,3335456,122399,"386,16",Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,58,276561948,276561949
12,17/01/2024,3335399,122399,2500,Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,24,276561876,276561877
13,17/01/2024,3335397,122399,1850,Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,23,276561874,276561875
14,17/01/2024,3335366,122399,"349,15",Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,12,276561852,276561853
15,17/01/2024,3335336,122399,"6457,77",Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,3,276561830,276561831
16,18/01/2024,3335998,122399,"19638,5",Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,91,275577794,275577795
17,18/01/2024,3335980,122399,19900,Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,83,275577778,275577779
18,18/01/2024,3335975,122399,"178430,17",Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,79,275577770,275577771
19,18/01/2024,3335783,122399,"43860,26",Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,15,275577619,275577620
20,19/01/2024,3336246,122399,"406,66",Benfeitorias Hospital Unimed,24,80177789,Hospital Unimed Litoral,D,9,276547333,276547334
21,19/01/2024,3336236,122399,500,Benfeitorias Hospital Unimed,24,80177789,Hospital Unimed Litoral,D,2,276547319,276547320
22,22/01/2024,3337142,122399,3700,Benfeitorias Hospital Unimed,24,80177792,Hospital Unimed Litoral,D,82,276547697,276547698
23,25/01/2024,3344170,122399,700,Benfeitorias Hospital Unimed,24,80177795,Hospital Unimed Litoral,D,1,276547958,276547959
24,31/01/2024,3347148,122399,286,Benfeitorias Hospital Unimed,24,80177801,Hospital Unimed Litoral,D,60,276560797,276560798
25,31/01/2024,3347014,122399,10000,Benfeitorias Hospital Unimed,24,80177801,Hospital Unimed Litoral,D,25,276560671,276560672
26,31/01/2024,12024,122399,"14712,14",Benfeitorias Hospital Unimed,32,80182178,Hospital Unimed Litoral,D,1,278163774,278163775
27,31/01/2024,3347320,122399,22680,Benfeitorias Hospital Unimed,24,80177801,Hospital Unimed Litoral,D,124,276561002,276561003

In [ ]:
consulta_nan.dtypes
consulta_nan['Valor'] = consulta_nan['Valor'].astype(str)
consulta_nan['Valor'] = consulta_nan['Valor'].str.replace(',','.').astype(float)
consulta_nan.dtypes
consulta_nan['Total'] = consulta_nan['Valor'].add(consulta_nan['Valor'])
consulta_nan

C:\Users\rfsra\AppData\Local\Temp\ipykernel_8880\606911504.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  consulta_nan['Valor'] = consulta_nan['Valor'].astype(str)
C:\Users\rfsra\AppData\Local\Temp\ipykernel_8880\606911504.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  consulta_nan['Valor'] = consulta_nan['Valor'].str.replace(',','.').astype(float)
C:\Users\rfsra\AppData\Local\Temp\ipykernel_8880\606911504.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  consulta_nan['Total'] = consulta_nan['Valor'].add(consulta_nan['Valor'])

,Data Movto,Unnamed: 1,Unnamed: 2,Valor,Conta,Unnamed: 6,Unnamed: 10,Estabelecimento,D/C,Unnamed: 13,Partida,Unnamed: 17,Total
0,05/01/2024,3321125,122399,392.86,Benfeitorias Hospital Unimed,24,80177775,Hospital Unimed Litoral,D,6,276546029,276546030,785.72
1,08/01/2024,1072052,122399,2086.36,Benfeitorias Hospital Unimed,34,80178351,Hospital Unimed Litoral,D,216,275412787,275412788,4172.72
2,09/01/2024,3322086,122399,54213.00,Benfeitorias Hospital Unimed,24,80177779,Hospital Unimed Litoral,D,7,276561489,276561490,108426.00
3,09/01/2024,3322055,122399,9383.99,Benfeitorias Hospital Unimed,24,80177779,Hospital Unimed Litoral,D,4,276561483,276561484,18767.98
4,10/01/2024,3322686,122399,6000.00,Benfeitorias Hospital Unimed,24,80177780,Hospital Unimed Litoral,D,50,276563050,276563051,12000.00
5,10/01/2024,3322515,122399,28000.00,Benfeitorias Hospital Unimed,24,80177780,Hospital Unimed Litoral,D,15,276562968,276562969,56000.00
6,11/01/2024,3323128,122399,22000.00,Benfeitorias Hospital Unimed,24,80179751,Hospital Unimed Litoral,D,49,276546854,276546855,44000.00
7,11/01/2024,3323130,122399,40392.67,Benfeitorias Hospital Unimed,24,80179751,Hospital Unimed Litoral,D,50,276546860,276546861,80785.34
8,12/01/2024,3333650,122399,15490.00,Benfeitorias Hospital Unimed,24,80177782,Hospital Unimed Litoral,D,44,276562897,276562898,30980.00
9,12/01/2024,3333587,122399,5960.28,Benfeitorias Hospital Unimed,24,80177782,Hospital Unimed Litoral,D,33,276562867,276562868,11920.56
10,16/01/2024,3335055,122399,3416.67,Benfeitorias Hospital Unimed,24,80177786,Hospital Unimed Litoral,D,37,276561686,276561687,6833.34
11,17/01/2024,3335456,122399,386.16,Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,58,276561948,276561949,772.32
12,17/01/2024,3335399,122399,2500.00,Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,24,276561876,276561877,5000.00
13,17/01/2024,3335397,122399,1850.00,Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,23,276561874,276561875,3700.00
14,17/01/2024,3335366,122399,349.15,Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,12,276561852,276561853,698.30
15,17/01/2024,3335336,122399,6457.77,Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,3,276561830,276561831,12915.54
16,18/01/2024,3335998,122399,19638.50,Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,91,275577794,275577795,39277.00
17,18/01/2024,3335980,122399,19900.00,Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,83,275577778,275577779,39800.00
18,18/01/2024,3335975,122399,178430.17,Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,79,275577770,275577771,356860.34
19,18/01/2024,3335783,122399,43860.26,Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,15,275577619,275577620,87720.52
20,19/01/2024,3336246,122399,406.66,Benfeitorias Hospital Unimed,24,80177789,Hospital Unimed Litoral,D,9,276547333,276547334,813.32
21,19/01/2024,3336236,122399,500.00,Benfeitorias Hospital Unimed,24,80177789,Hospital Unimed Litoral,D,2,276547319,276547320,1000.00
22,22/01/2024,3337142,122399,3700.00,Benfeitorias Hospital Unimed,24,80177792,Hospital Unimed Litoral,D,82,276547697,276547698,7400.00
23,25/01/2024,3344170,122399,700.00,Benfeitorias Hospital Unimed,24,80177795,Hospital Unimed Litoral,D,1,276547958,276547959,1400.00
24,31/01/2024,3347148,122399,286.00,Benfeitorias Hospital Unimed,24,80177801,Hospital Unimed Litoral,D,60,276560797,276560798,572.00
25,31/01/2024,3347014,122399,10000.00,Benfeitorias Hospital Unimed,24,80177801,Hospital Unimed Litoral,D,25,276560671,276560672,20000.00
26,31/01/2024,12024,122399,14712.14,Benfeitorias Hospital Unimed,32,80182178,Hospital Unimed Litoral,D,1,278163774,278163775,29424.28
27,31/01/2024,3347320,122399,22680.00,Benfeitorias Hospital Unimed,24,80177801,Hospital Unimed Litoral,D,124,276561002,276561003,45360.00

In [ ]:
consulta_nan

,Data Movto,Unnamed: 1,Unnamed: 2,Valor,Conta,Unnamed: 6,Unnamed: 10,Estabelecimento,D/C,Unnamed: 13,Partida,Unnamed: 17,Total
0,05/01/2024,3321125,122399,392.86,Benfeitorias Hospital Unimed,24,80177775,Hospital Unimed Litoral,D,6,276546029,276546030,785.72
1,08/01/2024,1072052,122399,2086.36,Benfeitorias Hospital Unimed,34,80178351,Hospital Unimed Litoral,D,216,275412787,275412788,4172.72
2,09/01/2024,3322086,122399,54213.00,Benfeitorias Hospital Unimed,24,80177779,Hospital Unimed Litoral,D,7,276561489,276561490,108426.00
3,09/01/2024,3322055,122399,9383.99,Benfeitorias Hospital Unimed,24,80177779,Hospital Unimed Litoral,D,4,276561483,276561484,18767.98
4,10/01/2024,3322686,122399,6000.00,Benfeitorias Hospital Unimed,24,80177780,Hospital Unimed Litoral,D,50,276563050,276563051,12000.00
5,10/01/2024,3322515,122399,28000.00,Benfeitorias Hospital Unimed,24,80177780,Hospital Unimed Litoral,D,15,276562968,276562969,56000.00
6,11/01/2024,3323128,122399,22000.00,Benfeitorias Hospital Unimed,24,80179751,Hospital Unimed Litoral,D,49,276546854,276546855,44000.00
7,11/01/2024,3323130,122399,40392.67,Benfeitorias Hospital Unimed,24,80179751,Hospital Unimed Litoral,D,50,276546860,276546861,80785.34
8,12/01/2024,3333650,122399,15490.00,Benfeitorias Hospital Unimed,24,80177782,Hospital Unimed Litoral,D,44,276562897,276562898,30980.00
9,12/01/2024,3333587,122399,5960.28,Benfeitorias Hospital Unimed,24,80177782,Hospital Unimed Litoral,D,33,276562867,276562868,11920.56
10,16/01/2024,3335055,122399,3416.67,Benfeitorias Hospital Unimed,24,80177786,Hospital Unimed Litoral,D,37,276561686,276561687,6833.34
11,17/01/2024,3335456,122399,386.16,Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,58,276561948,276561949,772.32
12,17/01/2024,3335399,122399,2500.00,Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,24,276561876,276561877,5000.00
13,17/01/2024,3335397,122399,1850.00,Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,23,276561874,276561875,3700.00
14,17/01/2024,3335366,122399,349.15,Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,12,276561852,276561853,698.30
15,17/01/2024,3335336,122399,6457.77,Benfeitorias Hospital Unimed,24,80177787,Hospital Unimed Litoral,D,3,276561830,276561831,12915.54
16,18/01/2024,3335998,122399,19638.50,Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,91,275577794,275577795,39277.00
17,18/01/2024,3335980,122399,19900.00,Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,83,275577778,275577779,39800.00
18,18/01/2024,3335975,122399,178430.17,Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,79,275577770,275577771,356860.34
19,18/01/2024,3335783,122399,43860.26,Benfeitorias Hospital Unimed,24,80177788,Hospital Unimed Litoral,D,15,275577619,275577620,87720.52
20,19/01/2024,3336246,122399,406.66,Benfeitorias Hospital Unimed,24,80177789,Hospital Unimed Litoral,D,9,276547333,276547334,813.32
21,19/01/2024,3336236,122399,500.00,Benfeitorias Hospital Unimed,24,80177789,Hospital Unimed Litoral,D,2,276547319,276547320,1000.00
22,22/01/2024,3337142,122399,3700.00,Benfeitorias Hospital Unimed,24,80177792,Hospital Unimed Litoral,D,82,276547697,276547698,7400.00
23,25/01/2024,3344170,122399,700.00,Benfeitorias Hospital Unimed,24,80177795,Hospital Unimed Litoral,D,1,276547958,276547959,1400.00
24,31/01/2024,3347148,122399,286.00,Benfeitorias Hospital Unimed,24,80177801,Hospital Unimed Litoral,D,60,276560797,276560798,572.00
25,31/01/2024,3347014,122399,10000.00,Benfeitorias Hospital Unimed,24,80177801,Hospital Unimed Litoral,D,25,276560671,276560672,20000.00
26,31/01/2024,12024,122399,14712.14,Benfeitorias Hospital Unimed,32,80182178,Hospital Unimed Litoral,D,1,278163774,278163775,29424.28
27,31/01/2024,3347320,122399,22680.00,Benfeitorias Hospital Unimed,24,80177801,Hospital Unimed Litoral,D,124,276561002,276561003,45360.00

Projeções com DataFrames

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
iris = sns.load_dataset('iris')
iris2 = iris[['species','petal_length','petal_width']]
iris2.head()

  species  petal_length  petal_width
0  setosa           1.4          0.2
1  setosa           1.4          0.2
2  setosa           1.3          0.2
3  setosa           1.5          0.2
4  setosa           1.4          0.2

In [ ]:
iris = sns.load_dataset('iris')
condicao_linha = (iris['species'] == 'virginica') & (iris['petal_length']>4.35)
#condição para as linhas
iris_novo = iris.loc[condicao_linha]
#condição para as colunas
iris_novo2 = iris.loc[condicao_linha,['species','petal_length','petal_width']]
iris_novo2

       species  petal_length  petal_width
100  virginica           6.0          2.5
101  virginica           5.1          1.9
102  virginica           5.9          2.1
103  virginica           5.6          1.8
104  virginica           5.8          2.2
105  virginica           6.6          2.1
106  virginica           4.5          1.7
107  virginica           6.3          1.8
108  virginica           5.8          1.8
109  virginica           6.1          2.5
110  virginica           5.1          2.0
111  virginica           5.3          1.9
112  virginica           5.5          2.1
113  virginica           5.0          2.0
114  virginica           5.1          2.4
115  virginica           5.3          2.3
116  virginica           5.5          1.8
117  virginica           6.7          2.2
118  virginica           6.9          2.3
119  virginica           5.0          1.5
120  virginica           5.7          2.3
121  virginica           4.9          2.0
122  virginica           6.7          2.0
123  virginica           4.9          1.8
124  virginica           5.7          2.1
125  virginica           6.0          1.8
126  virginica           4.8          1.8
127  virginica           4.9          1.8
128  virginica           5.6          2.1
129  virginica           5.8          1.6
130  virginica           6.1          1.9
131  virginica           6.4          2.0
132  virginica           5.6          2.2
133  virginica           5.1          1.5
134  virginica           5.6          1.4
135  virginica           6.1          2.3
136  virginica           5.6          2.4
137  virginica           5.5          1.8
138  virginica           4.8          1.8
139  virginica           5.4          2.1
140  virginica           5.6          2.4
141  virginica           5.1          2.3
142  virginica           5.1          1.9
143  virginica           5.9          2.3
144  virginica           5.7          2.5
145  virginica           5.2          2.3
146  virginica           5.0          1.9
147  virginica           5.2          2.0
148  virginica           5.4          2.3
149  virginica           5.1          1.8

In [ ]:
iris_novo = iris.query("species == 'virginica' and petal_length > 4.35")
iris_novo

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
106           4.9          2.5           4.5          1.7  virginica
107           7.3          2.9           6.3          1.8  virginica
108           6.7          2.5           5.8          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
110           6.5          3.2           5.1          2.0  virginica
111           6.4          2.7           5.3          1.9  virginica
112           6.8          3.0           5.5          2.1  virginica
113           5.7          2.5           5.0          2.0  virginica
114           5.8          2.8           5.1          2.4  virginica
115           6.4          3.2           5.3          2.3  virginica
116           6.5          3.0           5.5          1.8  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
119           6.0          2.2           5.0          1.5  virginica
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [ ]:
iris_numerico = iris.select_dtypes(include=['float64'])
iris_numerico.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
iris_numerico = iris.select_dtypes(exclude=['object'])
iris_numerico

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
iris_novo.reset_index()

    index  sepal_length  sepal_width  petal_length  petal_width    species
0     100           6.3          3.3           6.0          2.5  virginica
1     101           5.8          2.7           5.1          1.9  virginica
2     102           7.1          3.0           5.9          2.1  virginica
3     103           6.3          2.9           5.6          1.8  virginica
4     104           6.5          3.0           5.8          2.2  virginica
5     105           7.6          3.0           6.6          2.1  virginica
6     106           4.9          2.5           4.5          1.7  virginica
7     107           7.3          2.9           6.3          1.8  virginica
8     108           6.7          2.5           5.8          1.8  virginica
9     109           7.2          3.6           6.1          2.5  virginica
10    110           6.5          3.2           5.1          2.0  virginica
11    111           6.4          2.7           5.3          1.9  virginica
12    112           6.8          3.0           5.5          2.1  virginica
13    113           5.7          2.5           5.0          2.0  virginica
14    114           5.8          2.8           5.1          2.4  virginica
15    115           6.4          3.2           5.3          2.3  virginica
16    116           6.5          3.0           5.5          1.8  virginica
17    117           7.7          3.8           6.7          2.2  virginica
18    118           7.7          2.6           6.9          2.3  virginica
19    119           6.0          2.2           5.0          1.5  virginica
20    120           6.9          3.2           5.7          2.3  virginica
21    121           5.6          2.8           4.9          2.0  virginica
22    122           7.7          2.8           6.7          2.0  virginica
23    123           6.3          2.7           4.9          1.8  virginica
24    124           6.7          3.3           5.7          2.1  virginica
25    125           7.2          3.2           6.0          1.8  virginica
26    126           6.2          2.8           4.8          1.8  virginica
27    127           6.1          3.0           4.9          1.8  virginica
28    128           6.4          2.8           5.6          2.1  virginica
29    129           7.2          3.0           5.8          1.6  virginica
30    130           7.4          2.8           6.1          1.9  virginica
31    131           7.9          3.8           6.4          2.0  virginica
32    132           6.4          2.8           5.6          2.2  virginica
33    133           6.3          2.8           5.1          1.5  virginica
34    134           6.1          2.6           5.6          1.4  virginica
35    135           7.7          3.0           6.1          2.3  virginica
36    136           6.3          3.4           5.6          2.4  virginica
37    137           6.4          3.1           5.5          1.8  virginica
38    138           6.0          3.0           4.8          1.8  virginica
39    139           6.9          3.1           5.4          2.1  virginica
40    140           6.7          3.1           5.6          2.4  virginica
41    141           6.9          3.1           5.1          2.3  virginica
42    142           5.8          2.7           5.1          1.9  virginica
43    143           6.8          3.2           5.9          2.3  virginica
44    144           6.7          3.3           5.7          2.5  virginica
45    145           6.7          3.0           5.2          2.3  virginica
46    146           6.3          2.5           5.0          1.9  virginica
47    147           6.5          3.0           5.2          2.0  virginica
48    148           6.2          3.4           5.4          2.3  virginica
49    149           5.9          3.0           5.1          1.8  virginica

In [ ]:
iris_novo.reset_index(drop=True)

    sepal_length  sepal_width  petal_length  petal_width    species
0            6.3          3.3           6.0          2.5  virginica
1            5.8          2.7           5.1          1.9  virginica
2            7.1          3.0           5.9          2.1  virginica
3            6.3          2.9           5.6          1.8  virginica
4            6.5          3.0           5.8          2.2  virginica
5            7.6          3.0           6.6          2.1  virginica
6            4.9          2.5           4.5          1.7  virginica
7            7.3          2.9           6.3          1.8  virginica
8            6.7          2.5           5.8          1.8  virginica
9            7.2          3.6           6.1          2.5  virginica
10           6.5          3.2           5.1          2.0  virginica
11           6.4          2.7           5.3          1.9  virginica
12           6.8          3.0           5.5          2.1  virginica
13           5.7          2.5           5.0          2.0  virginica
14           5.8          2.8           5.1          2.4  virginica
15           6.4          3.2           5.3          2.3  virginica
16           6.5          3.0           5.5          1.8  virginica
17           7.7          3.8           6.7          2.2  virginica
18           7.7          2.6           6.9          2.3  virginica
19           6.0          2.2           5.0          1.5  virginica
20           6.9          3.2           5.7          2.3  virginica
21           5.6          2.8           4.9          2.0  virginica
22           7.7          2.8           6.7          2.0  virginica
23           6.3          2.7           4.9          1.8  virginica
24           6.7          3.3           5.7          2.1  virginica
25           7.2          3.2           6.0          1.8  virginica
26           6.2          2.8           4.8          1.8  virginica
27           6.1          3.0           4.9          1.8  virginica
28           6.4          2.8           5.6          2.1  virginica
29           7.2          3.0           5.8          1.6  virginica
30           7.4          2.8           6.1          1.9  virginica
31           7.9          3.8           6.4          2.0  virginica
32           6.4          2.8           5.6          2.2  virginica
33           6.3          2.8           5.1          1.5  virginica
34           6.1          2.6           5.6          1.4  virginica
35           7.7          3.0           6.1          2.3  virginica
36           6.3          3.4           5.6          2.4  virginica
37           6.4          3.1           5.5          1.8  virginica
38           6.0          3.0           4.8          1.8  virginica
39           6.9          3.1           5.4          2.1  virginica
40           6.7          3.1           5.6          2.4  virginica
41           6.9          3.1           5.1          2.3  virginica
42           5.8          2.7           5.1          1.9  virginica
43           6.8          3.2           5.9          2.3  virginica
44           6.7          3.3           5.7          2.5  virginica
45           6.7          3.0           5.2          2.3  virginica
46           6.3          2.5           5.0          1.9  virginica
47           6.5          3.0           5.2          2.0  virginica
48           6.2          3.4           5.4          2.3  virginica
49           5.9          3.0           5.1          1.8  virginica

In [ ]:
base = pd.read_json("https://storage.googleapis.com/pedagogico/formacao-dados/tabela_vendas.json")
base

       id_compra  codigo_produto             region  quantidade  valor_produto
0    EJF38SUC4TS            1002             Paraná           1           3.81
1    YDQ17YLX1MY            1264          São Paulo           8          77.51
2    DNK32LCC1RB            2344           Maranhão           3          16.92
3    DHJ68CCE3OP            9273           Maranhão           1          66.14
4    RQD46YMW6JT            1264     Santa Catarina           3          38.45
..           ...             ...                ...         ...            ...
495  KPM96WTU5LI            8974           Maranhão           4           7.41
496  ZIT25VJB8GX             823  Rio Grande do Sul           0          14.62
497  FKL37EMH1AS            1002     Rio de Janeiro           9          46.22
498  SNY86RFP1YM            1002     Rio de Janeiro          10          10.75
499  OZC87SGF9WE            1002           Maranhão           6          94.89

[500 rows x 5 columns]

In [ ]:
#criar coluna Valor total
base['Valor_Total']=base['quantidade'].mul(base['valor_produto'])
base
#qual diferença na média
base['valor_produto'].mean()
base['Valor_Total'].mean()
# condição para desconto é qdo a quantidade de produtos for maior que 5
cond_desconto = base['quantidade']>= 5
#seleciona coluna valor produto na tabela base,com .loc[cond_desconto] = após aplica o cáculo da condição >= 5 == 20%
base['valor_produto'].loc[cond_desconto] = base['valor_produto'].loc[cond_desconto] * 0.8
#nova varia´vel para armazenar a base com a condição
base['novo_valor_produto'] = base['quantidade'].mul(base['valor_produto'])
#média com desconto
base['novo_valor_produto'].mean()

C:\Users\rfsra\AppData\Local\Temp\ipykernel_8880\2215630349.py:10: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  base['valor_produto'].loc[cond_desconto] = base['valor_produto'].loc[cond_desconto] * 0.8
C:\Users\rfsra\AppData\Local\Temp\ipykernel_8880\2215630349.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base['valor_produto'].loc[cond_desconto] = base['valor_produto'].loc[cond_desconto] * 0.8

211.41111200000003

In [ ]:
diferenca=base['Valor_Total'].sub(base['novo_valor_produto'])
diferenca
nova_media1 = base['Valor_Total'].mean()
nova_media2 = base['novo_valor_produto'].mean()
diferenca_medias = (nova_media1) - (nova_media2)
print(f'A diferença entre valor inicial = {nova_media1} - {nova_media2} = {diferenca_medias}')

A diferença entre valor inicial = 251.64034 - 211.41111200000003 = 40.22922799999998

In [ ]:
base
base['media_anterior']=base['valor_produto'].mean()
base.drop('media_anterior', axis=1,inplace=True)
base

,id_compra,codigo_produto,region,quantidade,valor_produto,Valor_Total,novo_valor_produto
0,EJF38SUC4TS,1002,Paraná,1,3.810,3.81,3.810
1,YDQ17YLX1MY,1264,São Paulo,8,62.008,620.08,496.064
2,DNK32LCC1RB,2344,Maranhão,3,16.920,50.76,50.760
3,DHJ68CCE3OP,9273,Maranhão,1,66.140,66.14,66.140
4,RQD46YMW6JT,1264,Santa Catarina,3,38.450,115.35,115.350
...,...,...,...,...,...,...,...
495,KPM96WTU5LI,8974,Maranhão,4,7.410,29.64,29.640
496,ZIT25VJB8GX,823,Rio Grande do Sul,0,14.620,0.00,0.000
497,FKL37EMH1AS,1002,Rio de Janeiro,9,36.976,415.98,332.784
498,SNY86RFP1YM,1002,Rio de Janeiro,10,8.600,107.50,86.000
499,OZC87SGF9WE,1002,Maranhão,6,75.912,569.34,455.472

In [ ]:
base_calc = pd.read_json("https://storage.googleapis.com/pedagogico/formacao-dados/tabela_vendas.json")
base

,id_compra,codigo_produto,region,quantidade,valor_produto,Valor_Total,novo_valor_produto
0,EJF38SUC4TS,1002,Paraná,1,3.810,3.81,3.810
1,YDQ17YLX1MY,1264,São Paulo,8,62.008,620.08,496.064
2,DNK32LCC1RB,2344,Maranhão,3,16.920,50.76,50.760
3,DHJ68CCE3OP,9273,Maranhão,1,66.140,66.14,66.140
4,RQD46YMW6JT,1264,Santa Catarina,3,38.450,115.35,115.350
...,...,...,...,...,...,...,...
495,KPM96WTU5LI,8974,Maranhão,4,7.410,29.64,29.640
496,ZIT25VJB8GX,823,Rio Grande do Sul,0,14.620,0.00,0.000
497,FKL37EMH1AS,1002,Rio de Janeiro,9,36.976,415.98,332.784
498,SNY86RFP1YM,1002,Rio de Janeiro,10,8.600,107.50,86.000
499,OZC87SGF9WE,1002,Maranhão,6,75.912,569.34,455.472

Calcular desconto de 20% para produtos com quantidade maior que 5 unidades
1- criar nova coluna que manipula quantidade * valor_produto
2- criar variável que executa a condição >= 5 desconto 20%
3- selecionar a coluna da tabela a condição e aplicar a condição
4- criar variaável que armazena a operação desejada

In [ ]:
# 1- criar nova coluna que manipula quantidade * valor_produto
base_calc['Valor x Quantidade']= base_calc['quantidade'].mul(base_calc['valor_produto'])
condicao_calcula=base_calc['quantidade']>= 5
base_calc['valor_produto'].loc[condicao_calcula] = base_calc['valor_produto'].loc[condicao_calcula]* 0.8
base_calc['novo_valor_qtd_x_valor']=base_calc['quantidade'].mul(base_calc['valor_produto'])
base_calc
base_calc['valor_produto'].mean()
print('Media Novos valores ',
    base_calc['novo_valor_qtd_x_valor'].mean(),
    'Media Antigos valores ',
    base_calc['Valor x Quantidade'].mean()
)
desvio = base_calc['Valor x Quantidade'].div(base_calc['novo_valor_qtd_x_valor'])
desvio

Media Novos valores  211.41111200000003 Media Antigos valores  251.64034

C:\Users\rfsra\AppData\Local\Temp\ipykernel_8880\3641391411.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  base_calc['valor_produto'].loc[condicao_calcula] = base_calc['valor_produto'].loc[condicao_calcula]* 0.8
C:\Users\rfsra\AppData\Local\Temp\ipykernel_8880\3641391411.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base_calc['valor_produto'].loc[condicao_calcula] = base_calc['valor_produto'].loc[condicao_calcula]* 0.8

0      1.00
1      1.25
2      1.00
3      1.00
4      1.00
       ...
495    1.00
496     NaN
497    1.25
498    1.25
499    1.25
Length: 500, dtype: float64

In [ ]:
base_calc.dtypes

id_compra                  object
codigo_produto              int64
region                     object
quantidade                  int64
valor_produto             float64
Valor x Quantidade        float64
novo_valor_qtd_x_valor    float64
dtype: object

In [ ]:
def somar(coluna):
    soma = base_calc[coluna].sum()
    return soma
result = somar('Valor x Quantidade')
print('VALOR ANTES DESCONTO: = A ',result.round(2))
result = somar('novo_valor_qtd_x_valor')
print('VALOR APÓS DESCONTO: = A',result.round(2))

def diferenca(coluna1,coluna2):
    result = base_calc[coluna1].sub(base_calc[coluna2])
    return result
resultado = diferenca('Valor x Quantidade','novo_valor_qtd_x_valor')
#print(resultado)
base_calc['Diferença']=resultado
base_calc
result = somar('Diferença')
print(f'Com desconto teremos um valor a menor de {result.round(2)}'.upper())
base_calc.round(2)

VALOR ANTES DESCONTO: = A  125820.17
VALOR APÓS DESCONTO: = A 105705.56
COM DESCONTO TEREMOS UM VALOR A MENOR DE 20114.61

,id_compra,codigo_produto,region,quantidade,valor_produto,Valor x Quantidade,novo_valor_qtd_x_valor,Diferença
0,EJF38SUC4TS,1002,Paraná,1,3.81,3.81,3.81,0.00
1,YDQ17YLX1MY,1264,São Paulo,8,62.01,620.08,496.06,124.02
2,DNK32LCC1RB,2344,Maranhão,3,16.92,50.76,50.76,0.00
3,DHJ68CCE3OP,9273,Maranhão,1,66.14,66.14,66.14,0.00
4,RQD46YMW6JT,1264,Santa Catarina,3,38.45,115.35,115.35,0.00
...,...,...,...,...,...,...,...,...
495,KPM96WTU5LI,8974,Maranhão,4,7.41,29.64,29.64,0.00
496,ZIT25VJB8GX,823,Rio Grande do Sul,0,14.62,0.00,0.00,0.00
497,FKL37EMH1AS,1002,Rio de Janeiro,9,36.98,415.98,332.78,83.20
498,SNY86RFP1YM,1002,Rio de Janeiro,10,8.60,107.50,86.00,21.50
499,OZC87SGF9WE,1002,Maranhão,6,75.91,569.34,455.47,113.87

Substituição e Compreenssão de Valores

In [ ]:
print('Substituição de valores')
print('fillna(), suprir valores faltantes')
antes_fillna = ping['bill_length_mm'].count() #=342
print(antes_fillna)
# substituindo valores faltantes da coluna por zero=0
ping['bill_length_mm']= ping['bill_length_mm'].fillna(0)
depois_fillna = ping['bill_length_mm'].count() #=344
print(depois_fillna)

print('replace(), substituir  valores exixtentes')
tabela1={
    'combustiveis':'petrol'
}
tabela1['combustiveis']=tabela1['combustiveis'].replace('petrol','gasolina')
tabela1

# print('apply(), modificar valores')
# def primeira_palavra(str):
#     return str.split()[0]
# data['modelo'] = data['modelo'].apply(primeira_palavra) # redefinir a coluna modelo, com o uso da função split()[0]

print('rename(), renomear nomes de colunas')
iris.columns
iris=iris.rename(columns={'sepal_length':'comprimento_sepala','sepal_width':'largura_sepala'})
iris.columns

print('value_counts(), contagem de valores de uma série')
iris['species'].value_counts()
print('value_counts(), contagem de valores de uma série, usando normalize=True')
tabela.columns
tabela['combustivel'].value_counts(normalize=True)
tabela['preço'].unique()
tabela['preço'].nunique()

Substituição de valores
fillna(), suprir valores faltantes
342
344
replace(), substituir  valores exixtentes
rename(), renomear nomes de colunas
value_counts(), contagem de valores de uma série
value_counts(), contagem de valores de uma série, usando normalize=True

12

In [ ]:
import pandas as pd

# Supondo que você já tenha um DataFrame
data = {'coluna1': [1, 2, 3, 4, 5],
        'coluna2': ['a', 'b', 'c', 'd', 'e']}
df = pd.DataFrame(data)

# Iterando sobre os itens da coluna
for item in df['coluna1']:
    print(item)
for indice, valor in df['coluna2'].items():
    print(indice, valor)

1
2
3
4
5
0 a
1 b
2 c
3 d
4 e

In [ ]:
tabela_carros = tabela
tabela_carros

                             modelo   ano    preço combustivel
0                     Maruti 800 AC  2007    60000      Petrol
1          Maruti Wagon R LXI Minor  2007   135000      Petrol
2              Hyundai Verna 1.6 SX  2012   600000      Diesel
3            Datsun RediGO T Option  2017   250000      Petrol
4             Honda Amaze VX i-DTEC  2014   450000      Diesel
5              Maruti Alto LX BSIII  2007   140000      Petrol
6         Hyundai Xcent 1.2 Kappa S  2016   550000      Petrol
7          Tata Indigo Grand Petrol  2014   240000      Petrol
8          Hyundai Creta 1.6 VTVT S  2015   850000      Petrol
9          Maruti Celerio Green VXI  2017   365000         CNG
10          Chevrolet Sail 1.2 Base  2015   260000      Petrol
11         Tata Indigo Grand Petrol  2014   250000      Petrol
12  Toyota Corolla Altis 1.8 VL CVT  2018  1650000      Petrol

In [ ]:
for item in tabela_carros['modelo']:
    print(item)

Maruti 800 AC
Maruti Wagon R LXI Minor
Hyundai Verna 1.6 SX
Datsun RediGO T Option
Honda Amaze VX i-DTEC
Maruti Alto LX BSIII
Hyundai Xcent 1.2 Kappa S
Tata Indigo Grand Petrol
Hyundai Creta 1.6 VTVT S
Maruti Celerio Green VXI
Chevrolet Sail 1.2 Base
Tata Indigo Grand Petrol
Toyota Corolla Altis 1.8 VL CVT

In [ ]:
def carros(coluna):
    resultados =[]
    for i, n in tabela_carros[coluna].items():
        resultados.append((i,n))
    return resultados
result = carros('ano')
print(result)
result = carros('modelo')
print(result)

[(0, 2007), (1, 2007), (2, 2012), (3, 2017), (4, 2014), (5, 2007), (6, 2016), (7, 2014), (8, 2015), (9, 2017), (10, 2015), (11, 2014), (12, 2018)]
[(0, 'Maruti 800 AC'), (1, 'Maruti Wagon R LXI Minor'), (2, 'Hyundai Verna 1.6 SX'), (3, 'Datsun RediGO T Option'), (4, 'Honda Amaze VX i-DTEC'), (5, 'Maruti Alto LX BSIII'), (6, 'Hyundai Xcent 1.2 Kappa S'), (7, 'Tata Indigo Grand Petrol'), (8, 'Hyundai Creta 1.6 VTVT S'), (9, 'Maruti Celerio Green VXI'), (10, 'Chevrolet Sail 1.2 Base'), (11, 'Tata Indigo Grand Petrol'), (12, 'Toyota Corolla Altis 1.8 VL CVT')]

In [ ]:
base_pedagio = pd.read_csv("https://storage.googleapis.com/pedagogico/formacao-dados/tabela_clientes.csv")
base_pedagio['estado'].value_counts(normalize=True).mul(100)
base_pedagio['estado'].value_counts()

estado
Minas Gerais         45
Bahia                43
Rio de Janeiro       41
Maranhão             41
Paraíba              41
Rio Grande do Sul    40
Ceará                39
Santa Catarina       37
Pará                 36
Goiás                36
Pernambuco           35
Paraná               33
São Paulo            33
Name: count, dtype: int64

In [ ]:
base_pedagio
base_pedagio['estado'].value_counts()
base_pedagio['Qtd_estados']=base_pedagio['estado'].value_counts()
base_pedagio.drop('Qtd_estados', axis=1, inplace=True)
base_pedagio['Qtd_estados'] = base_pedagio['estado'].value_counts()
base_pedagio.drop('Qtd_estados', axis=1, inplace=True)
base_pedagio
base_pedagio['estado'].value_counts(normalize=True).mul(100).head()

estado
Minas Gerais      9.0
Bahia             8.6
Rio de Janeiro    8.2
Maranhão          8.2
Paraíba           8.2
Name: proportion, dtype: float64

In [ ]:
ping

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,0.0,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,0.0,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [ ]:
ping
#filtrando as femeas
femeas = ping.loc[ping['sex'] == 'Female']
#imprimir values count das especies = femeas da tabela ping
print('Espécies','\n')
print('Fêmeas',femeas['species'].value_counts().head(),'\n')
#imprimir values count qtd de femeas nas ilhas da condição == femea da tabela ping
print('Ilhas com Fêmeas',femeas['island'].value_counts().head(),'\n')
#filtrando as machos
machos = ping.loc[ping['sex'] == 'Male']
print('Machos ',machos['species'].value_counts().head(),'\n')
print('Ilhas com Machos',machos['island'].value_counts().head())

Espécies

Fêmeas species
Adelie       73
Gentoo       58
Chinstrap    34
Name: count, dtype: int64

Ilhas com Fêmeas island
Biscoe       80
Dream        61
Torgersen    24
Name: count, dtype: int64

Machos  species
Adelie       73
Gentoo       61
Chinstrap    34
Name: count, dtype: int64

Ilhas com Machos island
Biscoe       83
Dream        62
Torgersen    23
Name: count, dtype: int64

In [505]:
especies_base = ping['species'].nunique()
especies_base_nome = ping['species'].unique()
print(f'A base de informações possui a quantidade de espécies = {especies_base}, dos tipos: {especies_base_nome}...')
ilha_biscoe=ping.loc[ping['island'] == 'Biscoe']
print('Quantidade de espécies na Ilha Biscoe =',ilha_biscoe['species'].nunique())
print('A Ilha Biscoe possui as espécies =', ilha_biscoe['species'].unique(),'\n\n')

def dados(ilha):
    localizar = ping.loc[ping['island'] == ilha]
    qtd_total = localizar['species'].count()
    qtd_especies = localizar['species'].value_counts()
    qtd = localizar['species'].nunique()
    tipo =localizar['species'].unique()
    print(f'A quantidade total de pinguins é: {qtd_total} ,na ilha {ilha}.')
    print(f'A quantidade por espécie é: {", ".join(str(qtd) for qtd in qtd_especies)}, na ilha {ilha}') 
    print(f'A ilha {ilha} possui {qtd} espécies')    
    print(f'Que são elas: {", ".join(tipo)}')
    print(f'{qtd_especies}')    
result = dados('Dream')
(result)

A base de informações possui a quantidade de espécies = 3, dos tipos: ['Adelie' 'Chinstrap' 'Gentoo']...
Quantidade de espécies na Ilha Biscoe = 2
A Ilha Biscoe possui as espécies = ['Adelie' 'Gentoo']


A quantidade total de pinguins é: 124 ,na ilha Dream.
A quantidade por espécie é: 68, 56, na ilha Dream
A ilha Dream possui 2 espécies
Que são elas: Adelie, Chinstrap
species
Chinstrap    68
Adelie       56
Name: count, dtype: int64

In [527]:
# filtra species na tabela
especies_ping = ping['species'].unique()
# loop para fdazer a média por espécie
for especie in especies_ping:
    #filtro na tabela ping, faz loc na coluna 'specie' == indice do loop
    filtro = ping.loc[ping['species'] == especie]
    #calcula média
    media = filtro['body_mass_g'].mean()
    #print valores por espécie
    print(especie,':', media.round(2), 'kg')

Adelie : 3700.66 kg
Chinstrap : 3733.09 kg
Gentoo : 5076.02 kg

In [546]:
ping.columns
# criar função para selecionar primerio digito da coluna, para usar como indice na tabela
def primeiro_digito(input):
    # var, convertida para str, selecionando indice [0], primeiro caracter
    primeiro = str(input)[0]
    return primeiro

#criar planilha auxiliar para armazenar datos de indice para cada coluna
auxiliar = pd.DataFrame()
# loop para passar em cada coluna da tabvela ping
for coluna in ping.columns:
    #na tabela auxiliar será criado coluna que receberá da tabela ping o primeiro digito da coluna
    auxiliar[coluna] = ping[coluna].apply(primeiro_digito)
# criar nova coluna na tab: auxiliar, nome id, com o primeiro caracteres das colunas, aplicando o axis=1, inserindo nas linhas ca coluna id
auxiliar['id']=auxiliar.apply(''.join, axis=1)
# juntar a coluna id da planilha auxiliar na planilha original ping
ping['id']= auxiliar['id']

In [547]:
ping.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,id
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,AT3113MA
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,AT3113FA
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,AT4113FA
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,ATnnnnnA
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,AT3113FA

In [574]:
tabela.columns
def digito_zero(e):
    digito = str(e)[0]
    return digito
aux = pd.DataFrame()
aux
for colunas in tabela.columns:
    aux[colunas]=tabela[colunas].apply(digito_zero)
aux['id']=aux.apply(''.join, axis=1)
tabela['ID'] = aux['id']
tabela

                             modelo   ano    preço combustivel     ID
0                     Maruti 800 AC  2007    60000      Petrol  M26PM
1          Maruti Wagon R LXI Minor  2007   135000      Petrol  M21PM
2              Hyundai Verna 1.6 SX  2012   600000      Diesel  H26DH
3            Datsun RediGO T Option  2017   250000      Petrol  D22PD
4             Honda Amaze VX i-DTEC  2014   450000      Diesel  H24DH
5              Maruti Alto LX BSIII  2007   140000      Petrol  M21PM
6         Hyundai Xcent 1.2 Kappa S  2016   550000      Petrol  H25PH
7          Tata Indigo Grand Petrol  2014   240000      Petrol  T22PT
8          Hyundai Creta 1.6 VTVT S  2015   850000      Petrol  H28PH
9          Maruti Celerio Green VXI  2017   365000         CNG  M23CM
10          Chevrolet Sail 1.2 Base  2015   260000      Petrol  C22PC
11         Tata Indigo Grand Petrol  2014   250000      Petrol  T22PT
12  Toyota Corolla Altis 1.8 VL CVT  2018  1650000      Petrol  T21PT